*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
.sky{
    width: 100%;
    height: 30vh;
    background-color: rgb(187, 187, 247); 
    animation: skyColor 5s infinite; 
}
.ground{
    width: 100%;
    height: 70vh;
    background-color: rgb(0, 128, 0);
    position: relative;
}

.sun{
    top: 100%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF8D09;
    position: relative;
    z-index: 0;
    animation: moveSun 5s linear infinite;
}

@keyframes skyColor{
    0%{
        background-color: #243746;
    }
    10%{
        background-color: #FFB8BB;
    }
    30%{
        background-color: #008ED6;
    }
    70%{
        background-color: #008ED6;
    }
    90%{
        background-color: #FFB8BB;
    }
    100%{
        background-color: #243746;
    }
}


@keyframes moveSun{
    0% {
        transform: translateX(0px) translateY(0px);
    }   
    25% {
        transform: translateX(475px) translateY(-290%);
        background-color: #F8BA09;
    }
    
    50% {
        transform: translateX(950px) translateY(-350%);
    }
   
    75% {
        transform: translateX(1700%) translateY(-290%);
        background-color: #F8BA09;        
    }
    
    100% {
        transform: translateX(1900px) translateY(0px);
        background-color: red;
    }
}