.box{
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

/* .animated{
    transition-property: background, border-radius;
    transition-duration: 1s,1s;
    transition-delay: 5s, 2s;
}

.box:hover{
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    border-radius: 50%;
    
} */

.animated{
    transition: transform 2s ease-in 1s, background-color 0.5s linear;
    /* transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.box:hover{
    transform: translateX(300px);
    background-color: aqua;
}